@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}

<div class="fadein">
    <h1 class="pageHeading">@ViewData["Title"]</h1>

    <div class="clips">
        <iframe src="https://www.youtube.com/embed/xJrfD0YSFIU"
                height="360"
                width="640">
        </iframe>
    </div>
</div>
