@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}

<div class="fadein">
    <h1 class="pageHeading">@ViewData["Title"]</h1>


    <p>My name is Evan and I am a 25 year old Software Engineer by day, variety streamer on Twitch by night. 
        I started streaming back in 2018 and have been streaming on and off ever since. Some of my favorite games are Slay the Spire and Rocket League.</p>

    <div class="clips">
        <iframe src="https://www.youtube.com/embed/xJrfD0YSFIU"
                height="450"
                width="800">
        </iframe>
    </div>
</div>
