@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}

<div class="fadein">
    <h1 class="pageHeading">@ViewData["Title"]</h1>
    <p>Use this page to talk about my Twitch channel.</p>
</div>
