@page
@model OverEasyEvanTwitch.Pages.ContentModel
@{
    ViewData["Title"] = "Content";
}

<div class="fadein">
    <h1>@ViewData["Title"]</h1>
    <p>Use this page to talk about my Twitch content, maybe embed some videos.</p>
</div>
