@page
@model IndexModel 
@{
    ViewData["Title"] = "Home page";
}

<div class="homeContent text-center fadein">
    <img class="happyEgg" src="~/img/happyegg.png" />
    <h1 class="display-4">OverEasyEvan</h1>
    <p>Click here to see OverEasyEvan LIVE! :  <a href="https://twitch.tv/OverEasyEvan">OverEasyEvan on Twitch</a></p>
</div>
