@page
@model OverEasyEvanTwitch.Pages.MerchModel
@{
    ViewData["Title"] = "Merch";
}

<div class="fadein">
    <h1>@ViewData["Title"]</h1>
    <p>Use this page to talk about my Merch store.</p>
</div>
